@model List<activity>


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#jsActivityTable').DataTable({
            ordering: true,
            paging: true,
            searching: true,
            info: true,
            lengthChange: true,
            lengthMenu: [[6, 10, 20, -1], [6, 10, 20, "All"]]
        });
    });

    /**/</script>

<p>
    <a type="button" class="btn btn-primary" asp-controller="Activity" asp-action="AddActivity">Create New Activity Record</a>
</p>

<style>
    a {
        font-family: Verdana;
    }
</style>

<h2>Activity List</h2>
<div class="container">
    <table class="table table-condensed table-hover" id="jsActivityTable">
        <thead>

            <tr>
                <th scope="col">Activity ID</th>
                <th scope="col">Brigade</th>
                <th scope="col">Type</th>
                <th scope="col">Activity Description</th>
                <th scope="col">Status</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Date Time Created</th>
                <th scope="col">Date Time Last Modified</th>
                <th scope="col">Created By</th>
                <th scope="col">Modifed By</th>
                <th scope="col">Action</th>
            </tr>

        </thead>
        <tbody>
            @foreach (activity ac in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Activity"
                           asp-action="ActivityDetail"
                           asp-route-id=@ac.ACTIVITY_ID>
                            @ac.ACTIVITY_ID
                        </a>
                    </td>
                    <td>@ac.BRIGADE</td>
                    @if (ac.TYPE.Equals("M"))
                    {
                        <td>Mobilisation</td>
                    }
                    else
                    {
                        <td>Trial Run</td>
                    }
                    <td>@ac.ACTIVITY_DESC</td>
                    @if (ac.STATUS.Equals("AC"))
                    {
                        <td>Activated</td>
                    }
                    else if (ac.STATUS.Equals("DE"))
                    {
                        <td>De-Activated</td>
                    }
                    else
                    {
                        <td>Draft</td>
                    }
                    <td>@ac.ACTIVITY_START</td>
                    <td>@ac.ACTIVITY_END</td>
                    <td>@ac.DTE_TIME_CR</td>
                    <td>@ac.DTE_TIME_LAST_MOD</td>
                    <td>@ac.CREATED_BY</td>
                    <td>@ac.MODIFIED_BY</td>

                    <td>
                        <a asp-controller="Activity"
                           asp-action="UpdateActivity"
                           asp-route-id="@ac.ACTIVITY_ID">
                            Edit
                        </a>
                        |
                        @{
                            if (User.IsInRole("1"))
                            {
                                <a asp-controller="Activity"
                                   asp-action="DeleteActivity"
                                   asp-route-id="@ac.ACTIVITY_ID"
                                   onclick="return confirm('Delete Activity [@ac.ACTIVITY_ID]')">Delete</a>
                            }

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>